.typewriter h1 {
  color: white;
  font-family: playfair-display, serif;
  font-size: 8em;
  margin-top: 300px !important;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .18em; /* Adjust as needed */
  animation:
  typing 3s steps(30, end),
  blink-caret .5s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.scroll-text{
  /* background: linear-gradient(to right, grey, 50%, transparent); */
  width: 700px;
  margin-left: 40px;
  margin-top: 19%;
  text-align: left;
}

.scroll-text > h1{
  display: none;
}

h2{
  font-family: myriad-pro !important;
  font-weight: bold;
  font-size: 35px;
  color: white;
}


	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3,
  #section4,
  #section5,
    #slide1,
    #slide2{
		background-size: cover;
		background-attachment: fixed;
	}

  .cd-horizontal-timeline p{
    color: white !important;
    font-family: myriad-pro, sans-serif;
  }

  .cd-horizontal-timeline{
    margin-top: 5%;
  }

  .cd-horizontal-timeline h2{
    color: white;
  }

.masthead{
  position: absolute;
  width: 250px;
  margin-left: -680px;
  margin-top: 50px;
}


.timeline-head{
  font-size: 60px;
  font-family: noto-sans, sans-serif;
  font-weight: bold;
  margin-top: 200px;
  color: white;
}


/* photo gallery css */

.photo-container {
  position: relative;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
  animation: loading 1s linear infinite;
  background-color: black;
}

.image {
  opacity: 1;
  display: block;
  width: 300px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photo-container:hover .image {
  opacity: 0.3;
}

.photo-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 16px;
  font-family: playfair-display, serif;
  width: 200px;
}

.photo-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 400;
  margin-top: 10px;
}

.fade{
  opacity: 20%;
  background-color: black;
  background-image: url("../images/black.jpg");
  z-index: 200;
}

.fade:hover{
  opacity: 100%;
  transition: opacity 1s;
  background-image: url("../images/black.jpg");

}


.gallery-text{
  position: absolute;
  margin-top: 300px;
  margin-left: 450px;
  font-size: 60px;
  font-family: noto-sans, sans-serif;
  font-weight: bold;
}

.background{
  background-image: url("../images/black.jpg");
  position: absolute;
}



/*123 slide css */

.top3{
  margin-top: 40px;
}

.top3 img{
  margin-left: 100px;
  margin-right: 100px;

}

#three{
  padding-bottom: 20px;
}

.top3-column p{
  text-align: left;
  font-size: 15px;
  font-family: myriad-pro, sans-serif;
}

h3{
  font-family: playfair-display, serif;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.top3-column{
  width: 33%;
  padding-left: 20px;
  padding-right: 20px;
}

.three-row{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.mobile-head{
  display: none;
}

@media only screen and (min-width: 768px) {
  .masthead{
    margin-left: -200px;
    margin-top: 100px;
    width: 400px;
  }

  .typewriter{
    display: none;
  }

  .mobile-head{
    padding-top: 150px;
    display: block;
    font-size: 15px;
  }

  .scroll-text{
    background-color: black;
    font-size: 280px !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50%;

    .three-row{
      display: block;
    }

    .top3-column{
      display:block;
      width: 300px !important;
    }


  }












}
/*
Sources:
- image hover styles adapted from W3 schools */
