.typewriter h1 {
  color: white;
  font-family: playfair-display, serif;
  font-size: 5em;
  margin-top: 300px !important;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .18em; /* Adjust as needed */
  animation:
  typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.scroll-text{
  background: linear-gradient(to right, white, 50%, transparent);
  width: 500px;
  margin-left: 20px;
  margin-top: 18%;
}

.scroll-text > h1{
  display: none;
}

h2{
  font-family: noto-sans, sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: black;
}


	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3,
  #section4,
  #section5,
    #slide1,
    #slide2{
		background-size: cover;
		background-attachment: fixed;
	}

  .cd-horizontal-timeline p{
    color: #13294B !important;
    font-family: myriad-pro, sans-serif;
  }

  .cd-horizontal-timeline{
    margin-top: 5%;
  }

  .cd-horizontal-timeline h2{
    color: #13294B;
  }


.timeline-head{
  font-size: 60px;
  font-family: noto-sans, sans-serif;
  font-weight: bold;
  margin-top: 200px;
  color: #13294B;
}

.slide-head{
  font-size: 60px;
  font-family: noto-sans, sans-serif;
  font-weight: bold;
  margin-top: 100px;
  text-align: right;
  color: #13294B;
  margin-right: 100px;
}

/* photo gallery css */

.photo-container {
  position: relative;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

.image {
  opacity: 1;
  display: block;
  width: 300px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photo-container:hover .image {
  opacity: 0.3;
}

.photo-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 16px 16px;
  font-family: playfair-display, serif;
  width: 200px;
}

.photo-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
}



/*
Sources:
- image hover styles adapted from W3 schools */
